h1 {
    /*H1 tem apreferência, a cor bronw não é aplicado ao header*/
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: cadetblue;
    font-size: 2em;
}

header {
    color: brown;
}